@import './basic.scss';
// @import './wrapper.scss';

// .file-container{
//     // width: 50%
    
    
// }
.file-viewer{
    width: 100%;
    height: 300px;
}

input{
        cursor: pointer;
    }