@import "./basic.scss";

.container {
  width: 100%;
  height: auto;
  // position: relative;
}

.container-wrapper {
// .container{
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
  
// }
img{
  cursor:pointer;
}

.col-12{
  padding-right: 0px;
}
.col-1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.active-icons{
  img {
    width: 13px;
    height: 13px;
    // padding-left: 0px;
  }
.active {
    display: inline-flex;
    height: 27px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #E3DAFC 0% 0% no-repeat padding-box;  
}

}

.col-2{
    span {
        position: absolute;
        // left: 30px;
        width: 15px;
        right: 5px;
    }
}




.container-wrapper {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px;
  

    #sort {

      .sort-by {
        // display: flex;
        // justify-content: flex-start;
        width: 250px;
        height: 30px;
        padding: 5px;
        text-align: unset;
        border-radius: 7px;
        border: 2px solid $button-color;
        background-color: #fff;
        color: $button-color;
        font-size: 1em;
        font-weight: 800;
        position: relative;
        span {
          font-size: 20px;
          position: absolute;
          top: -5%;
          right: 5px;
        }
        
      }
    }

    #form {
      border-radius: 10px;
      position: relative;
     
      input {
        background-color: $body-color;
        // background-color: red;
        padding-left: 10px;
        border-radius: 7px;

        // width: 100%;
        height: 30px;
        // border: 2px solid $button-color ;
        &:focus{
            border: 2px solid $button-color ;
        }
      }


      .search {
        width: 15px;
        position: absolute;
        top: 30%;
        right: 10px;
        // transform: translateY(-50%);
        cursor: pointer;
      }
    }
//   }

  .icons {
    // margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 10px;
      z-index: 2;
      display: inline-block;
    //   padding-left: 19px;
    height: 20px;
    // margin-left: 15px;
      cursor: pointer;
  display: flex;
//   align-items: center;
  justify-content: space-between;
    }
    
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  

 

  .select-all {
    button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      width: 110px;
      // padding-right: 5px;
      height: 30px;
      background-color: #fff;
      border-radius: 7px;
      color: $button-color;
      border: 2px solid $button-color;
      font-size: 0.9rem; 
     font-weight: 900;

    }
    #checkbox {
      width: 14px; position: relative;
      
      &::before {
        content: '';
      //   display: block;
        position: absolute;
        top: -1px;
        right: 0px;
        width: 14px;
        height: 14px;
        border: 2px solid $button-color;
        border-radius: 3px;
      }
    //   border: 5px soild $button-color !important;
    
    }
  }

  .download {
    margin-left: 20px;
    button {
      width: 110px;
      // padding-right: 5px;
      height: 30px;
      background-color: $button-color;
      border-radius: 7px;
      font-size: 0.9rem;
      font-weight: 900;
      color: #fff;
      // margin-right: 12px;
      // border: 1px solid $button-color;

      
    }
  }
  .sort1 {
    display: flex;
    justify-content: space-between;
    color: $button-color;
    font-size: 1rem;
    width: 100px;
    // height: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid $button-color;
    background-color: #fff;
    // margin-right: 10px;
    display: none;
    .arrow-display {
      font-size: 1rem;
    }
  }
}


.sort-container {
    position: relative;
    font-size: 11px;
    // font-weight: 900;
  }
  .sort-dropdown {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 8px;
    border: 2px solid $button-color;
    color: $button-color;
    position: absolute;
    top: 100%;
    width: 250px;
    cursor: pointer;
    z-index: 1;
    hr{
        background-color: $button-color;
        height: 1px;
        font-weight: bold;
    }
  }
 

 
.sort-options-container {
    display: flex;
    justify-content: space-around;
  }
  
  .sort-option {
   
    cursor: pointer;
    
  }
  
  .sort-option.active {
    font-weight: bold;
  }
  
  .sort-option.selected {
    position: relative;
  }
  
  .sort-option.selected::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $button-color;
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 90%;
    
  }

}

.image-wrapper{
    width: 40%;
    margin-top: 45px;
    border-radius: 10px;
    background-color: $body-color;
    
}   

.form-wrapper{
    // width: 450px;
    // width: 40%;
    // height: 400px;
    background-color: $body-color;
    position: relative;
    position: absolute;
    right: 0;
    top: -55px;
    height: 110%;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
   padding-top: 10%;
   overflow-x: hidden;
  //  &:before {

  //  }
//    border-bottom: 10px solid $body-color;
   h2 {
    color: hsla(0, 2%, 57%, 0.704);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
   }
    p{
        text-align: center;
        color: hsla(0, 2%, 57%, 0.704);

    }
}


.title-container{
    background-color: $body-color;
    width: 160px ;
    height: 180px;
    display: flex;
    margin-bottom: 25px !important;
    // justify-content: center;
    // align-items: center;
    border-radius: 10px;
    position: relative;      
    flex-wrap: wrap;
    
}

.title-view{
    flex-wrap: wrap;
    display: flex;
}


.tooltip-button {
    background: none;
    border: none;
    cursor: pointer;
    bottom: 8%;
    }
    
    .tooltip-container {
        width: 200px;
    position: absolute;
    bottom: 70%;
    left: 5px;
    z-index: 1;
    // transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
    padding: 3px 0 0 10px;
    font-size: 0.9rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    // white-space: pre-wrap;
    }
    
    .tooltip-container.active {
    opacity: 1;
    visibility: visible;
    }
    
    .tooltip-content {
    padding: 5px;
    }
    
    .tooltip-button:hover + .tooltip-container,
    .tooltip-container:hover {
    opacity: 1;
    visibility: visible;
    }
.small-check{
        position: relative;
        position: absolute;
        top: 5%;
        left: 10%;
      
        &::before {
          content: '';
        //   display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 13px;
          height: 13px;
          border: 2px solid $button-color;
          border-radius: 3px;
        }
      }

      .price-container{
        position: absolute;
        bottom: -60%;
        margin-bottom: 50px
      }  
.price-text{
  font-size: 0.9rem;
}

.pose{
  position: absolute;
  display: inline-block;
 bottom: 5%;
 left: 9%;
}

#container{
  display: flex;
  position: relative;
  width: 100%
}

.inside-container{
  padding-right: 18px;
  position: relative
}

@media only screen and (min-width: 280px) and (max-width: 310px) {
  .container {
    width: 110%;
  }

  .container-wrapper {
    .icons-wrapper {
      .icons {
        img {
          padding-left: 10px !important;  
          width: 25px;
        }
        #preview {
          display: none;
        }
      }
      form {
        input{
            width: 140px;
        }
        .search {
          img {
            width: 13px;
          }
        }
      }
    }

    #form {
      font-size: 0.5rem;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .select-all {
        button {
          width: 70px !important;
          font-size: 0.6rem !important;
          font-weight: 900 !important;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .sort1 {
        width: 70px !important;
        height: 30px;
        font-size: 0.6rem !important;
        font-weight: 900 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-left: 15px;
        margin-right: 0 !important;
        // padding-bottom: 3px;
        padding: 0 6px !important;
      }

     
       .download {
        margin-left: 0 !important;
        margin-right: 0 !important;
        button {
            // margin-right: 100px;
          width: 70px !important;
          font-size: 0.6rem !important;
          font-weight: 900 !important;
        }
      }
    }
   
    .sort-dropdown{
      font-size: 10px;
      width: 75px !important;
      left: 1px !important;
      top: 65px;
  }

  .title-view{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .title-container{
      background-color: $body-color;
      width: 80px;
      height: 130px;
      margin: 25px 0px 0 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: relative;  
      
      .img1{
          width: 40px !important;
      }
  
      .tool-image{
          width: 15px !important;
          left: 3px !important
      }
  
      .small-check{
          width: 12px;
          height: 12px;
          &:before{
              width:12px;
              height: 12px;
          }
      }
  }
  
  } 

  .price-container{
    position: absolute;
    bottom: -75%;
    margin-bottom: 50px
  }  
  }
  .inside-container{
    padding-right: 0px;
    position: relative
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .container {
    width: 100%;
  }
  
  .container-wrapper {
 
      .active-icons{
        display: flex;
        justify-content: space-around;
        padding-left: 0
      }    
      #preview {
        display: none;
      }
    // }
      #form {
        
          width: 100%;
        
         .search{
          width: 15px;
          // right: -15px;
         }
      }

          .buttons {
        display: flex;
        justify-content: space-between;
        .sort1 {
            width: 70px !important;
            padding: 0;
            // height:30px !important;
            font-size: 9px !important;
            display: flex !important;
            justify-content: space-evenly;
            align-items: center;
            font-weight: 900 !important;
            margin-left: 0px !important
          }
      .select-all {
        button {
          width: 70px !important;
          font-size: 9px !important;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-weight: 900 !important;
        }
      }

      

      .download{
        margin-left: 0 !important;
        button{
            width: 70px !important;
            font-size: 9px !important;
            font-weight: 900 !important;
            
        }
      }
    }
   

    .sort-dropdown{
        width: 80px !important;
        left: 1px !important;
        top: 50px !important;
    }

.title-view{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .title-container{
    background-color: $body-color;
    width: 85px;
    height: 130px;
    margin: 25px 0px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;  
    
    .img1{
        width: 40px ;
    }

    .tool-image{
        width: 15px !important;
        left: 3px !important
    }

    .small-check{
        width: 12px;
        height: 12px;
        &:before{
            width:12px;
            height: 12px;
        }
    }
}

} 
.price-container{
  position: absolute;
  bottom: -75%;
  margin-bottom: 50px
}  
}
.inside-container{
  padding-right: 0px;
  position: relative
}
}
    

@media only screen and (min-width: 360px) and (max-width: 370px){
    .container-wrapper {
     
        .icons-wrapper{
            form {
                margin-left: 10px !important;
            }
            #preview{
                display: none;
            }
        }
    

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select-all{
            button{
                width: 90px ;
                font-size: 0.8rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: 800;
            }
        }
        .sort1{
            width: 90px !important;
            font-size: 0.7rem;
            font-weight: 600;
            display: flex !important;
            justify-content: space-evenly;
            align-items: center;
        }

        .download{
            button{
                width: 90px;
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
    }

    .sort-dropdown{
        width: 150px;
        left: -35px;
        top: 50px
    }


    .title-view{
      display: inline-flex;
      justify-content: space-around ;
      align-items: center;
    .title-container{
      background-color: $body-color;
      width: 100px !important;
      height: 160px;
      margin: 25px 0px 0 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: relative;  
      
      .img1{
          width: 50px !important
      }

      .tool-image{
          width: 15px !important;
          left: 3px !important
      }

      .small-check{
          width: 12px;
          height: 12px;
          &:before{
              width:12px;
              height: 12px;
          }
      }
  }
}
    }

    .inside-container{
      padding-right: 0px;
      position: relative
    }
    }


@media only screen and (min-width: 375px) and (max-width: 400px) {
  .container {
    width: 100%;
  }
  .container-wrapper {
   
    .active-icons{
      padding: 0;
      display: flex;
      justify-content: space-evenly;
    }

        #preview{
            display: none;
        }

        #form{
          margin-left: 30px;

            input{
              width: 100%;
                // margin-right: 5px;
            }
            .search{
              right: 10px;
            }
        }
    // }


    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .sort1 {
            display: flex !important;
            justify-content: unset;
            justify-content: unset;
            // padding-top: 10px;
            // margin-right: 10px;
            // margin-left: 5px;
            border-radius: 7px;
            height: 30px;
            width: 90px !important;
            font-size: 0.8rem;
            font-weight: 900;
          }

          .select-all {
            button {
              width: 90px;
              padding: 0px 3px;
              font-size: 0.9rem;
              // font-weight: 800;
              #checkbox{
                width: 12px;
                &::before {
                    content: '';
                  //   display: block;
                    position: absolute;
                    top: 0px;
                    // right: 1px;
                    left: 0px;
                    width: 12px;
                    height: 12px;
                    border: 2px solid $button-color;
                    border-radius: 3px;
                  }
              }

             
            }
          }

      .download {
        margin-left: 0px !important;
        button {
          width: 90px;
          font-size: 0.9rem;
          //   font-weight: 900;
          //   padding: 0 15px;
        }
      }
      
    }


    .title-view{
      display: inline-flex;
      justify-content: space-around ;
      align-items: center;
      // align-items: flex-start;
      // margin-right: 15px;
    .title-container{
        background-color: $body-color;
        width: 100px;
        height: 160px;
        margin: 25px 0px 0 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;  
        
        .img1{
            width: 50px !important
        }

        .tool-image{
            width: 15px !important;
            left: 3px !important
        }

        .small-check{
            width: 12px;
            height: 12px;
            &:before{
                width:12px;
                height: 12px;
            }
        }
    }
  }


    .sort-dropdown{
        width: 90px !important;
        left: 1px !important;
        top: 65px;
    }
  }

  .inside-container{
    padding-right: 0px;
    position: relative
  }
}

@media only screen and (min-width: 390px) and (max-width: 395px){

.container-wrapper{
    .icons-wrapper{
        #form{
          margin-left: 35px !important;
}
     .search img {
        right: 1px;
            
        }
    }

    .buttons{
        .sort1{
            display: flex !important;
            justify-content:  space-between;
            align-items: center;
            font-size: 0.8rem;
            font-weight: 500;
            // margin-right: 25px !important;
        }
        .select-all{
            button{
                width: 90px;
            }
        }

        .download{
          margin-right: 0 !important;
        }
        
    }

    .title-container{
      width: 90px !important;
      
    }
}
.inside-container{
  padding-right: 0px;
  position: relative
}
}   
@media only screen and (min-width: 412px) and (max-width: 415px) {
    .container-wrapper{
        .icons-wrapper{
            form {
                .search img {
                    right: 10px;
                }
            }
        }
.buttons{
    .sort1{
        margin-left:8px !important;
        width: 100px !important;
    }

    .select-all{
        button{
            width: 100px;
        }
    }

    .download{
        button{
            width: 100px;
        }
    }
}


.title-view{
  display: inline-flex;
  justify-content: space-around ;
  align-items: center;
.title-container{
  background-color: $body-color;
  width: 90px !important;
  height: 140px;
  margin: 25px 0px 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;  
  
  .img1{
      width: 50px !important
  }
}
}

    }

    .inside-container{
      padding-right: 0px;
      position: relative
    }
}

@media only screen and (max-width: 480px) {
  .container-wrapper {
    .active-icons{
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      margin:0;
    }
        #preview{
            display: none
        }
      #form {
        // margin-left: 70px;
        // margin-left: 60px;

        input {
          // margin-left: 10px;
          width: 100%;
        }
      }
    // }
    #sort {
      .sort-by {
        display: none !important;
      }
    }

   .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sort1 {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        color: $button-color;
        font-size: 0.8rem;
        width: 100px;
        height: 30px;
        padding: 2px 10px;
        border-radius: 7px;
        border: 2px solid $button-color;
        font-weight: 800;
        background-color: #fff;
        // margin-right: 12px;
        display: block;
        .arrow-display {
          font-size: 1rem;
        }
      }
      .download{
        margin-left: 0 !important;
      }
   }
   
   .sort-dropdown{
    width: 100px;
    left: 1px ;
    top: 50px;
}

.title-container{
  width: 100px !important; 
}
  }

  .inside-container{
    padding-right: 0px;
    position: relative
  }
}

@media only screen and (min-width: 540px) and (max-width:600px){
    .container-wrapper{

.active-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
        #sort{
          display: none;
      }

#form{
  input{
    width: 100%
  }
}

        .buttons {
            margin-top: 30px;
            // margin-left: 35px;
            display: flex;
            justify-content: space-around;
            .select-all {
                button{
                    width: 120px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-weight: 700;
                }
            }

            .sort1{
                // margin-right: 20px;
                display: block;
                display: flex !important;
                justify-content: space-evenly;
                align-items: center;
                width: 100px;
                font-size: 0.8rem;
                // height:30px;
                // margin-left: 30px;
                font-weight: 700;
                border-radius: 7px;
                border: 2px solid $button-color;
                padding: 0;
            }

            .download{
              margin-left: 0 !important;
              margin-right: 0 !important;
                button{
                    width: 120px;
                    font-weight: 700;
                    // margin-left: 30px;
                }
            }
        }
    }
    .inside-container{
      padding-right: 0px;
      position: relative
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {


.active-icons{

  img{
    width: 10px;
    height: 10px;
  }
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:0;
  .active{
    height: 20px;
    width: 20px;
  }
}

      #form {
        input {
          width: 100px;
          font-size: 0.7rem;
          
        }
        .search{
          right: -2px !important;
        }
      }

      
      #sort {
        // width: 100px;
        .sort-by {
          width: 220px !important;
          font-size: 0.6rem;
          font-weight: 900;
          padding: 6px 8px;
        //   padding: 8px;
        span{
            font-size: 15px;
            top: 9%;
            right: 6px;
            }
        }
        
      }
    }

    .buttons {
      .select-all {
        button {
          width: 90px !important;
          height: 30px !important;
          font-size: 0.8rem !important;
          font-weight: 900;
          #checkbox{
              width: 11px;
              &::before {
                content: '';
              //   display: block;
                position: absolute;
                top: 1px;
                // right: 1px;
                left: 0px;
                width: 11px;
                height: 11px;
                border: 2px solid $button-color;
                border-radius: 3px;
              }
          }
          // margin-left: 25px;
        }
        // width: 25px;
        // font-size: 0.8rem;
      }
      .download {
        button {
          width: 90px !important;
          font-size: 0.8rem !important;
          font-weight: 900;
        //   margin-right: 15px;
        }
      }
    }

    .title-view{
      display: inline-flex;
      // justify-content: space-around ;
      // align-items: center;
      // align-items: flex-start;
      // margin-right: 15px;
    .title-container{
        background-color: $body-color;
        width: 110px;
        height: 160px;
        margin: 25px 0px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;  
        &:first-child{
          margin:25px 0px 0 0px
        }
        .img1{
            width: 50px !important
        }

        .tool-image{
            width: 15px !important;
            left: 3px !important
        }

        .small-check{
            width: 12px;
            height: 12px;
            &:before{
                width:12px;
                height: 12px;
            }
        }
    }
  }
    .sort-dropdown{
        width: 160px;
        left: 50px
    }
//   }
// }

// .sort-by{
// }

@media only screen and (min-width: 1024px){
   .active-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
   }

   #form{
    input{
      width: 100%
    }
   }
      .search{
        // width: 35px !important;
        right: 9px !important;
      }
      #sort {
        // width: 100px;
        .sort-by {
          width: 230px !important;
          font-size: 0.6rem;
          font-weight: 900;
          padding: 6px 8px;
          // margin-left: 50px;
        
        }
        
      }
        .buttons{
            .select-all{
                button{
                    width: 110px !important;
                    font-size: 0.8rem;
                    font-weight: 800;
                }
            }
            .download{
                button{
                    width: 110px !important;
                    font-size: 0.8rem;
                    font-weight: 800;

                }
            }

           
        }
        .sort-dropdown{
          width: 230px !important;
          left: 1px !important;
          top: 50px;
      }

     
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .title-view{
    .title-container{
      width: 110px ;
      height: 165px ;
      margin-left: 11px;
      .tool-image{
        width: 18px !important;
        left: 2px !important
      }
        .img1{
          
            width: 60px !important;
      }
    }
  }
  
  .price-container{
    position: absolute;
    bottom: -55%;
    margin-bottom: 40px
  }  
.price-text{
  font-size: 1rem ;
}

.small-check{
  width: 15px !important;
  height: 15px !important;
  &:before{
      width:15px !important;
      height: 15px !important;
  }
}



}