@import "./basic.scss";

.container {
  width: 100%;
  height: auto;
}

.container-wrapper {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px;
  .first-wrapper {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    // background-color: red;

    #sort {
      margin-left: 20px;

      .sort-by {
        display: flex;
        justify-content: flex-start;
        padding: 2px 20px;
        width: 250px;
        height: 30px;
        // padding: 3px;
        border-radius: 7px;
        border: 2px solid $button-color;
        background-color: #fff;
        color: $button-color;
        font-size: 1em;
        position: relative;
        span {
          font-size: 20px;
          position: absolute;
          top: -5%;
          right: 5px;
        }
        
      }
    }

    form {
      border-radius: 10px;
      position: relative;
      margin-left: 30px;
     
      input {
        background-color: $body-color;
        // background-color: red;
        padding-left: 10px;
        border-radius: 7px;

        // width: 100%;
        height: 30px;
        &:focus{
            border: 2px solid $button-color ;
        }
      }


      .search img {
        width: 15px;
        position: absolute;
        top: 30%;
        right: 10px;
        // transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  .icons {
    // margin-left: 40px;
    display: flex;
    
   
    img {
      width: 30px;
      padding-left: 15px;
      cursor: pointer;

    //   doing active focuse on icons
    //   &:active{
    //     background-color: red;
    //     padding: 1px 3px;
    //   }
  
    }
    
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  

 

  .select-all {
    button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      width: 110px;
      // padding-right: 5px;
      height: 30px;
      background-color: #fff;
      border-radius: 10px;
      color: $button-color;
      border: 2px solid $button-color;
      font-size: 0.9rem; 
     font-weight: 900;

    }
    #checkbox {
      width: 15px;
      // border: 5px soild $button-color !important;
    }
  }

  .download {
    margin-left: 20px;
    button {
      width: 110px;
      // padding-right: 5px;
      height: 30px;
      background-color: $button-color;
      border-radius: 10px;
      font-size: 0.9rem;
      font-weight: 900;
      color: #fff;
      margin-right: 16px;
      // border: 1px solid $button-color;

      
    }
  }
  .sort1 {
    display: flex;
    justify-content: space-between;
    color: $button-color;
    font-size: 1rem;
    width: 100px;
    // height: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid $button-color;
    background-color: #fff;
    // margin-right: 10px;
    display: none;
    .arrow-display {
      font-size: 1rem;
    }
  }
}


.sort-container {
    position: relative;
    font-size: 14px;
    // font-weight: 900;
  }
  .sort-dropdown {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 8px;
    border: 2px solid $button-color;
    color: $button-color;
    position: absolute;
    top: 100%;
    width: 250px;
    cursor: pointer;
    z-index: 1;
    hr{
        background-color: $button-color;
        height: 1px;
        font-weight: bold;
    }
  }
 


}

.image-wrapper{
    width: 40%;
    margin-top: 45px;
    border-radius: 10px;
    background-color: $body-color;
    
}   

.form-wrapper{
    width: 40%;
    background-color: $body-color;
    border-radius: 10px;
    margin-top: 30px;
    // display: block;
   padding-top: 10%;
//    border-bottom: 10px solid $body-color;
   h2 {
    color: hsla(0, 2%, 57%, 0.704);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
   }
    p{
        text-align: center;
        color: hsla(0, 2%, 57%, 0.704);

    }
}


.title-container{
    background-color: $body-color;
    width: 150px;
    height: 150px;
    margin: 20px 0 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
  
}


@media only screen and (min-width: 280px) and (max-width: 310px) {
  .container {
    width: 110%;
  }

  .container-wrapper {
    .icons-wrapper {
      .icons {
        img {
          width: 30px;
        }
        #preview {
          display: none;
        }
      }
      form {
        .search {
          img {
            width: 13px;
          }
        }
      }
    }

    #form {
      margin-left: 30px;
      width: 150px;
      font-size: 0.8em;
    }

    .buttons {
      .select-all {
        button {
          width: 70px;
          font-size: 0.6rem;
          font-weight: 800;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .sort1 {
        width: 75px !important;
        height: 30px;
        font-size: 0.6rem !important;
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-bottom: 3px;
      }

     
       .download {
        button {
            // margin-right: 100px;
          width: 70px !important;
          font-size: 0.6rem !important;
          font-weight: 600;
        }
      }
    }
   
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .container {
    width: 105%;
  }
  .container-wrapper {
    .icons-wrapper {
      // .icons{
      //     img{
      //       width: 30px;
      //     }
      #preview {
        display: none;
      }

      form {
        // input {
          width: 170px;
        
      }

    
    }
    .buttons {
        .sort1 {
            width: 85px !important;
            font-size: 0.7rem !important;
            display: flex !important;
            justify-content: space-evenly;
            align-items: center;
            font-weight: 700;
          }
      .select-all {
        button {
          width: 75px;
          font-size: 0.7em;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-weight: 700;
        }
      }

      

      .download{
        button{
            width: 75px;
            font-size: 0.7em;
            font-weight: 700;
        }
      }
    }

    
  }
}

@media only screen and (min-width: 360px) and (max-width: 370px){
    .container-wrapper {
        .icons-wrapper{
            #preview{
                display: none;
            }
        }
    

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select-all{
            button{
                width: 85px;
                font-size: 0.8rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: 700;
            }
        }
        .sort1{
            width: 85px;
            font-size: 0.8rem;
            font-weight: 700;
            display: flex !important;
            justify-content: space-evenly;
            align-items: center;
        }

        .download{
            button{
                width: 80px;
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
    }
    }
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
  .container {
    width: 100%;
  }
  .container-wrapper {
    .icons-wrapper{
        #preview{
            display: none;
        }

        form{
            // input{
                margin-left: 30px;
                margin-right: 10px;
            // }
        }
    }


    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .sort1 {
            display: flex !important;
            justify-content: space-around;
            justify-content: center;
            // padding-top: 10px;
            margin-right: 10px;
            // margin-left: -1px;
    height: 30px;
            width: 95px !important;
            font-size: 0.8rem;
            font-weight: 900;
          }

          .select-all {
            button {
              width: 90px;
              padding: 0px 3px;
              font-size: 0.9rem;
              // font-weight: 800;
            }
          }

      .download {
        button {
          width: 90px;
          font-size: 0.9rem;
          //   font-weight: 900;
          //   padding: 0 15px;
        }
      }

      
      
    }
  }
}

@media only screen and (min-width: 390px) and (max-width: 393px){

.container-wrapper{
    .icons-wrapper{
        form{
            input{
                margin-left: 12px;

            }
            .search img {
                right: 1px;
            }
        }
    }

    .buttons{
        .sort1{
            display: flex !important;
            justify-content:  space-between;
            align-items: center;
            font-size: 0.9rem;
            font-weight: 500;
            margin-right: 10px;
        }
        .select-all{
            button{
                width: 90px;
            }
        }
        
    }
}
}   
@media only screen and (min-width: 412px) and (max-width: 414px) {
    .container-wrapper{
        .icons-wrapper{
            form {
                input{
                    margin-left: 25px;

                }
                .search img {
                    right: 1px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
  .container-wrapper {
    // #preview{
    //     display: none;
    // }
    .icons-wrapper {
        #preview{
            display: none
        }
      form {
        // margin-left: 30px;
        margin-left: 35px;

        input {
          width: 100%;
        }
      }
    }
    #sort {
      .sort-by {
        display: none !important;
      }
    }

   .buttons{
    .sort1 {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        color: $button-color;
        font-size: 0.9rem;
        width: 110px;
        height: 30px;
        padding: 2px 10px;
        border-radius: 10px;
        border: 2px solid $button-color;
        font-weight: 800;
        background-color: #fff;
        margin-right: 20px;
        display: block;
        .arrow-display {
          font-size: 1rem;
        }
      }
   }
    

    // .buttons {
    //   .download {
    //     button {
    //       //   width: 100px;
    //     }
    //   }
    // }
  }
}

@media only screen and (min-width: 540px) and (max-width:600px){
    .container-wrapper{
        .icons-wrapper{
            .icons{
                img{
                    width: 35px; 
                }
                
            }

         form{
            input{
width: 250px;
margin-left: 55px;
            }

            
         }
         #sort{
            display: none;
        }
        }

        .buttons {
            margin-top: 30px;
            margin-left: 35px;
            .select-all {
                button{
                    width: 120px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-weight: 700;
                }
            }

            .sort1{
                margin-left: 20px;
                display: block;
                width: 120px;
                // margin-left: 30px;
                font-weight: 700;
            }

            .download{
                button{
                    width: 120px;
                    font-weight: 700;
                    // margin-left: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container-wrapper {
    .icons-wrapper {
      .first-wrapper {
        flex-wrap: nowrap;
      }
      form {
        input {
          width: 100px;
          font-size: 0.7em;
        }
      }
      #sort {
        // width: 100px;
        .sort-by {
          width: 180px;
          font-size: 0.6rem;
          font-weight: 900;
          padding: 6px 8px;
        //   padding: 8px;
        span{
            font-size: 15px;
            top: 9%;
            right: 6px;
            }
        }
        
      }
    }

    .buttons {
      .select-all {
        button {
          width: 65px;
          font-size: 0.6rem;
          font-weight: 800;
          #checkbox{
              width: 10px;
          }
          // margin-left: 25px;
        }
        // width: 25px;
        // font-size: 0.8rem;
      }
      .download {
        button {
          width: 65px;
          font-size: 0.6rem;
          font-weight: 900;
          margin-right: 15px;
        }
      }
    }
  }
}

// .sort-by{
// }
